body{
  background-image: url('/background.gif');
  background-repeat: repeat;
  height: 700px;
  width: 700px;
}
.cal-skeleton{
    display: flex;
    background-color: darkgrey;
    height: 400px;
    width: 405px;
    flex-wrap: wrap;
}


 .cal-output{
    background-color: darkgrey;
    height: 70px;
    width: 500px;
    margin: 20px;
    font-size: 30px;
  }

  .cal-buttons{
    background-color: darkgrey;
    margin: 10px;
    width: 380px;
    text-align: center;
    height: 280px;
    font-size: 30px;
    justify-content: center;
  }

  #output-box{
    width: 359px;
    height: 55px;
    background-color: white;
    justify-content: center;
    align-content: center;
    border-style: solid;
    text-align: right;
    font-size: larger;
  }

  #output{
    position: relative;
    top: 16px;
  }

  #nums{
    width: 40px;
    height: 40px;
    background-color: lightgrey; 
  }

  #operations{
    width: 40px;
    height: 40px;
    color: white;
    background-color: black;
  }

  #clear{
    width: 40px;
    height: 40px;
    background-color: red;
  }



